# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# npm vendor dir
/node_modules

runtime/*

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

application.log
/config/db.php

*.log

/assets/
/web/assets/
/web/propspaceData*
/web/images/users
/web/images/img/
/web/json/
/web/temp_cookies/
/runtime/
/uploads
/bin/*
/vendor_new/
